* {
    font-family: arial;
    /*	user-select: none;*/
    font-weight: bold;
}

.header {
    width: 480px;
    font-size: 40px;
    margin: 60px auto 5px auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#score01 {
    color: pink;
}

#all {
    width: 480px;
    height: 480px;
    background-color: #bbada0;
    margin: 0 auto;
    border-radius: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ccc0b3;
    ;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: #fff;
    float: left;
    margin: 16px 0px 0px 16px;

}

.n2 {
    background-color: #eee3da;
    color: #776e65;
}

.n4 {
    background-color: #ede0c8;
    color: #776e65;
}

.n8 {
    background-color: #f2b179;
}

.n16 {
    background-color: #f59563;
}

.n32 {
    background-color: #f67c5f;
}

.n64 {
    background-color: #f65e3b;
}

.n128 {
    background-color: #edcf72;
}

.n256 {
    background-color: #edcc61;
}

.n512 {
    background-color: #9c0;
}

.n1024 {
    background-color: #33b5e5;
    font-size: 40px;
}

.n2048 {
    background-color: #09c;
    font-size: 40px;
}

.n4096 {
    background-color: #a6c;
    font-size: 40px;
}

.n8192 {
    background-color: #93c;
    font-size: 40px;
}

#gameover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    display: none;
}

#gameover p {
    background-color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    line-height: 66.66px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

#gameover p a {
    padding: 10px;
    text-decoration: none;
    background-color: #9f8d77;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}